
<table class="table"><tbody>
<% if videos.any? %>
<th>Видео в очереди</th>
<% pending.each do |video| %>
<tr>
<td><%= video.id %>: <%= video.state_text %></td>
<td><img class="w-100" src="<%= thumbnail_for(video) %>"><br><a href="<%= video.url %>"><%= video.url %></a></td>
<td><%= title_for(video) %></td>
<td><%= video.location_label %></td>
<td><%= video.updated_at %></td>
</tr>
<% end %>
<% else %>
<th>Пока нет видео</th>
<% end %>
</tbody></table>

<p class="btn"><a href="<%= routes.new_video_path %>">Загрузить новое видео</a></p>

<table class="table"><tbody>
<% if active.any? %>
<th>Скачиваются</th>
<% active.each do |video| %>
<tr>
<td><%= video.id %>: <%= video.state_text %></td>
<td><img class="w-100" src="<%= thumbnail_for(video) %>"><br><a href="<%= video.url %>"><%= video.url %></a></td>
<td><%= title_for(video) %></td>
<td><%= video.location_label %></td>
<td><%= video.updated_at %></td>
</tr>
<% end %>
<% end %>

<% if error.any? %>
<th>С ошибками</th>
<% error.each do |video| %>
<tr>
<td><%= video.id %>: <%= video.state_text %></td>
<td><img class="w-100" src="<%= thumbnail_for(video) %>"><br><a href="<%= video.url %>"><%= video.url %></a></td>
<td><%= title_for(video) %></td>
<td><%= video.location_label %></td>
<td><%= video.updated_at %></td>
</tr>
<% end %>
<% end %>

<% if completed.any? %>
<th>Завершенные</th>
<% completed.each do |video| %>
<tr>
<td><%= video.id %>: <%= video.state_text %></td>
<td><img class="w-100" src="<%= thumbnail_for(video) %>"></td>
<td><%= title_for(video) %><br><a href="<%= video.url %>"><%= video.url %></a></td>
<td><%= video.location_label %></td>
<td><%= video.updated_at %></td>
<td>
<%=
  form_for :video, routes.path(:video, id: video.id), method: :delete, 'data-confirm' => 'Вы уверены?' do
    submit 'Удалить', class: 'btn btn-danger show-alert'
  end
%>
</td>
</tr>
<% end %>
<% end %>

<% if deleted.any? %>
<th>Удаленные</th>
<% deleted.each do |video| %>
<tr>
<td><%= video.id %>: <%= video.state_text %></td>
<td><img class="w-25" src="<%= thumbnail_for(video) %>"><br><a href="<%= video.url %>"><%= video.url %></a></td>
<td><%= title_for(video) %></td>
<td><%= video.location_label %></td>
<td><%= video.updated_at %></td>
</tr>
<% end %>
<% end %>

<% if unknown.any? %>
<h3>Неизвестное состояние</h3>
<% unknown.each do |video| %>
<tr>
<td><%= video.id %>: <%= video.state_text %></td>
<td><img class="w-100" src="<%= thumbnail_for(video) %>"><br><a href="<%= video.url %>"><%= video.url %></a></td>
<td><%= title_for(video) %></td>
<td><%= video.location_label %></td>
<td><%= video.updated_at %></td>
</tr>
<% end %>
<% end %>
</tbody>
</table>

