<!DOCTYPE html>
<html>
  <head>
    <title>Youtube videos</title>
    <%= favicon %>
    <%= stylesheet 'bootstrap' %>
    <%= javascript 'bootstrap' %>
  </head>
  <body>
    <div class="container">
    <h1><a href="<%= routes.videos_path %>">Youtube videos</a></h1>

    <div class="m-5">
    <%= yield %>
    </div>
    </div>
  </body>
</html>
